### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
#INSERT INTO Worker VALUES(010, 'PALLAVI', 'SAXENA', '1800000', '2014-02-10 09:00:00', 'ENGINEERING');
select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;

### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
SELECT FIRST_NAME, LAST_NAME, SALARY, COUNT(*) FROM Worker
GROUP BY FIRST_NAME, LAST_NAME, SALARY HAVING COUNT(*) > 1;

### Q-3. How to remove duplicate rows from Employees table.

In [ ]:
DELETE FROM Worker WHERE ID IN(  
SELECT ID FROM (SELECT ID, ROW_NUMBER()   
OVER (PARTITION BY ID ORDER BY ID) AS row_num   
FROM Worker) AS TEMP_TABLE WHERE row_num > 1
);