### Q-17.  Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
select * from Worker limit n;

select * from Worker limit 10;

### Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
SELECT SALARY FROM EMPLOYEE ORDER BY SALARY DESC LIMIT N-1, 1

SELECT SALARY FROM EMPLOYEE ORDER BY SALARY DESC LIMIT 4, 1