### Q-13. Write an SQL query to show only odd rows from a table.

In [ ]:
select * from (
select *, @rn := @rn + 1 as rn from Worker
join (select @rn := 0) i
) s
where rn mod 2 = 1;

### Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
CREATE TABLE IF NOT EXISTS new_tbl SELECT * FROM worker;