### Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
SELECT * FROM TABLE1 
WHERE ID IN (SELECT ID FROM TABLE2);

### Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
SELECT * FROM TABLE1 
WHERE ID NOT IN (SELECT ID FROM TABLE2);